@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/poppins_medium.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/poppins_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/poppins_medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/poppins_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/poppins_medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/poppins_medium.svg#poppins_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/poppins_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/poppins_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/poppins_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/poppins_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/poppins_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/poppins_regular.svg#poppins_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@import "media-queries";
body {
  margin: 0;

  header {
    .header-content__sale-mob {
      display: none;
    }
    background: #F5F5F5;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;

    .header-content {
      display: flex;
      justify-content: space-between;;
      align-items: center;
      padding: 0 60px;

      .header-content__contact {
        display: flex;
        font-family: 'Poppins Regular', sans-serif;
        font-size: 14px;
        color: #707070;

        .header-content__contact-phone {
          display: flex;
          align-items: center;
        }

        .header-content__contact-email {
          display: flex;
          align-items: center;
          margin-left: 30px;
        }
      }

      .header-content__sale {
        p {
          font-family: 'Poppins Regular', sans-serif;
          font-size: 14px;
          color: #707070;
        }

        span {
          font-family: 'Poppins Regular', sans-serif;
          font-size: 14px;
          color: #D42E35;
        }
      }

      .header-content__language-currency {
        select {
          outline: none;
          border: none;
          background: #F5F5F5;
          font-family: 'Poppins Regular', sans-serif;
          font-size: 14px;
          color: #707070;
          margin-left: 50px;
        }
      }
    }
  }

  .content-body {
    padding: 0 60px;
    .logo-mob {
      display: none;
    }

    .header {
      display: flex;
      justify-content: space-between;;
      align-items: center;
      margin: 50px 0;

      .nav {
        display: flex;

        a {
          font-family: 'Poppins Medium', sans-serif;
          font-size: 16px;
          color: #1E1E1E;
          text-decoration: none;

          &:hover {
            color: #DCAF19;
            text-decoration: underline;
          }
        }

        a + a {
          margin-left: 40px;
        }
      }

      .personal-area {
        span {
          font-size: 24px;
          color: #1E1E1E
        }

        span + span {
          margin-left: 20px;
        }
      }
    }

    .slider {
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      background: #F6F5F1;
      width: 100%;
      justify-content: flex-end;

      .slider-item {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        object-fit: cover;
        animation-name: fade;
        animation-duration: 0.5s;

        .slider-item__content {
          margin: 0 100px 0 120px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .h1 {
            font-size: 22px;
            font-family: 'Montserrat SemiBold', sans-serif;
            font-weight: 200;
            color: #4b4b4b;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
          }

          .h2 {
            font-family: 'Montserrat ExtraBold', sans-serif;
            color: #fff;
            font-size: 48px;
            padding: 25px;
            background: #DEC18C;
            margin: 40px 0 0 0;
            text-transform: lowercase;
          }

          .h3 {
            font-family: 'Montserrat Medium', sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            color: #4b4b4b;
            letter-spacing: 8px;
            margin: 34px 0 0 0;
          }

          a {
            margin-top: 88px;
            color: #1E1E1E;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "Montserrat SemiBold", sans-serif;
          }

          .slider-item__social {
            position: absolute;
            bottom: 5%;
            left: 5%;

            a {
              font-family: 'Montserrat Medium', sans-serif;
              color: #4b4b4b;
              text-decoration: none;
              font-size: 12px;
            }

            a + a {
              margin-left: 16px;
            }

            .slider-item__social-twitter {
              padding: 0 16px;
              border-left: 1px solid #4b4b4b;
              border-right: 1px solid #4b4b4b;
            }
          }
        }

        img {
          width: 834px;
        }

      }

      .slider-button {
        user-select: none;

        .slider-button__prev {
          position: absolute;
          left: 5%;
          display: flex;
          align-items: center;
          text-align: center;

          span {
            border-radius: 50%;
            font-size: 30px;
            color: #DEC18C;
            padding: 4px;
            cursor: pointer;

            &:hover {
              background: #fff;
            }
          }
        }

        .slider-button__next {
          position: absolute;
          right: 5%;

          span {
            border-radius: 50%;
            font-size: 30px;
            color: #DEC18C;
            padding: 4px;
            cursor: pointer;

            &:hover {
              background: #fff;
            }
          }
        }
      }
    }

    .banner {
      margin-top: 26px;
      display: flex;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        height: 8px;

      }

      &::-webkit-scrollbar-thumb {
        background: #DEC18C;
        width: 60px;
      }

      .banner-card {
        background: #F6F5F1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .banner-one__text, .banner-two__text, .banner-there__text {
          margin-left: 38px;

          .h1 {
            font-size: 36px;
            font-family: 'Montserrat SemiBold', sans-serif;
            margin: 0;
          }

          .h2 {
            font-family: 'Montserrat Medium', sans-serif;
            font-size: 16px;
            margin: 16px 0 65px 0;
          }

          a {
            margin-top: 65px;
            font-size: 18px;
            color: #1E1E1E;
            font-family: "Montserrat SemiBold", sans-serif;
          }
        }

        .banner-one__img {
          background: #F6E3D4;
          clip-path: polygon(39% 0, 100% 0%, 100% 100%, 0 100%);
        }

        .banner-two__img {
          background: #DDD6D1;
          clip-path: polygon(39% 0, 100% 0%, 100% 100%, 0 100%);

          img {
            height: 359px;
          }
        }

        img {
          padding: 0 52px 0 78px;
        }
      }

      .banner-card + .banner-card {
        margin-left: 24px;
      }
    }

    .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .product-header {
        align-items: center;
        text-align: center;

        .h1 {
          margin: 116px 0 0 0;
          font-family: 'Montserrat SemiBold', sans-serif;
          font-size: 36px;
          color: #1E1E1E;
        }

        p {
          font-family: 'Poppins Regular', sans-serif;
          font-size: 16px;
          color: #1E1E1E;
        }
      }

      nav {
        margin-top: 46px;

        a {
          color: #1E1E1E;
          font-family: 'Montserrat Medium', sans-serif;
          font-size: 16px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: #DEC18C;
          }
        }

        a + a {
          margin-left: 24px;
        }
      }
    }

    .product-card {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      margin: 0 auto;
      padding-top: 68px;
      max-width: 1174px;

      .product-card__item {
        display: flex;
        text-align: center;
        flex-direction: column;

        img {
          max-width: 100%;
        }
        p {
          font-family: "Poppins Medium", sans-serif;
          font-size: 14px;
          margin: 18px 0 0 0;
        }

        .prise {
          font-family: "Poppins Regular", sans-serif;
          font-size: 14px;
          margin: 0;
        }
      }
    }

    .banner-sale {
      background: #F6F6F6;
      display: flex;
      position: relative;
      margin-top: 155px;
      max-height: 600px;
      justify-content: space-between;
      align-items: center;

      .banner-sale__img {
        position: absolute;
        top: -3%;
        left: 3%;
        z-index: 2;
      }

      .banner-sale__coll {
        width: 318px;
        height: 318px;
        border-radius: 50%;
        background: #F3E4D9;
        position: absolute;
        left: -1%;
        top: 6%;
      }

      .banner-sale__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 155px 0 0 600px;

        .h1 {
          font-family: "Montserrat Medium", sans-serif;
          font-size: 16px;
          color: #fff;
          margin: 0;
          padding: 14px 34px;
          background: #DEC18C;
          text-align: center;
        }

        .h2 {
          font-family: 'Montserrat Medium', sans-serif;
          font-size: 52px;
          color: #1E1E1E;
          margin: 64px 0 0 0;
        }

        a {
          margin: 93px 0 138px 0;
          font-size: 18px;
          color: #1E1E1E;
          font-family: "Montserrat SemiBold", sans-serif;
        }
      }
    }

    .brand {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .blog-header {
      margin-top: 148px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .h1 {
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 36px;
        color: #1E1E1E;
        margin: 0;
        padding: 0;
      }

      p {
        font-family: "Poppins Regular", sans-serif;
        font-size: 16px;
        color: #1E1E1E;
        margin: 0;
        padding: 0;
      }
    }

    .slider-blog {
      position: relative;
      padding-top: 80px;
      display: flex;
      justify-content: center;
      max-width: 1174px;
      margin: 0 auto;

      .slider-blog__item {
        max-width: 570px;
        animation-name: fade;
        animation-duration: 0.8s;

        img {
          max-width: 100%;
        }

        .h1 {
          margin: 45px 0 28px;
          font-family: "Montserrat Medium", sans-serif;
          font-size: 16px;
          color: #1E1E1E;
          padding: 0;
          text-transform: uppercase;
        }

        p {
          font-family: "Poppins Regular", sans-serif;
          font-size: 14px;
          color: #1E1E1E;
          margin: 0;
          padding: 0;
        }
      }

      .slider-blog__item + .slider-blog__item {
        margin-left: 30px;
      }

      .slider-blog__buttons-next, .slider-blog__buttons__prev {
        border: 1px solid #E5E5E5;
        background: #FAFAFA;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        position: absolute;

        &:active {
          opacity: 0.6;
        }

        span {
          padding: 23px;
          color: #B4B4B4;
          cursor: pointer;
        }
      }

      .slider-blog__buttons-next {
        right: -7%;
        top: 50%;
        transform: translateY(-50%);
      }

      .slider-blog__buttons__prev {
        left: -7%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .banner-inst {
    margin-top: 140px;
    background: url("./../img/baner-inst.png");
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

    .inst {
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 50px;

      p {
        font-family: "Poppins Regular", sans-serif;
        font-size: 16px;
        color: #1E1E1E;
        margin: 0;
      }

      a {
        text-decoration: none;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 36px;
        color: #1E1E1E;
        margin: 20px 0 0 0;
      }
    }
  }

  .scroll-up {
    background: #F6F6F6;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;

    .span-up {
      border-radius: 50%;
      border: 1px solid #BDBDBD;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 24px 0;

      span {
        color: #BDBDBD;
        padding: 4px;
        cursor: pointer;
      }
    }

    p {
      margin-left: 10px;
      font-family: "Poppins Regular", sans-serif;
      font-size: 16px;
      color: #BDBDBD;
      cursor: pointer;
    }
  }

  footer {
    padding: 0 60px;
    border-bottom: 1px solid #BDBDBD;

    .footer-content {
      display: flex;
      justify-content: space-between;
      margin: 130px 0 120px;

      .logo-address {
        .address {
          margin-top: 50px;
          display: flex;

          span {
            color: #CCCCCC;
            font-size: 30px;
          }

          p {
            margin: 0 0 0 16px;
            font-family: "Poppins Regular", sans-serif;
            font-size: 14px;
            color: #4b4b4b;
          }
        }

        .email {
          display: flex;
          margin-top: 20px;

          span {
            color: #CCCCCC;
            font-size: 30px;
          }

          p {
            margin: 0 0 0 16px;
            font-family: "Poppins Regular", sans-serif;
            font-size: 14px;
            color: #4b4b4b;
          }
        }

        .phone {
          display: flex;
          margin-top: 20px;

          span {
            color: #CCCCCC;
            font-size: 30px;
          }

          p {
            margin: 0 0 0 16px;
            font-family: "Poppins Regular", sans-serif;
            font-size: 14px;
            color: #4b4b4b;
          }
        }
      }

      nav {
        display: flex;
        flex-direction: column;

        .h1 {
          margin-bottom: 47px;
          font-family: "Montserrat Medium", sans-serif;
          font-size: 16px;
          color: #1e1e1e;
          cursor: pointer;
        }

        a {
          font-family: "Poppins Regular", sans-serif;
          font-size: 14px;
          color: #4b4b4b;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: #DEC18C;
          }
        }

        a + a {
          margin-top: 18px;
        }

        .footer-form {
          form {
            display: flex;

            div {
              display: flex;
              flex-direction: column;
              position: relative;
              .material-icons {
                position: absolute;
                right: 0;
                transform: translate(-50%, 50%);
                color: #B4B4B4;
              }
              #form-email-error {
                display: none;
                font-family: 'Montserrat-Regular', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #DEC18C;
                margin-top: 10px;
              }

              .email {
                width: 360px;
                height: 45px;
                outline: none;
                padding-left: 20px;
                border: 1px solid #B4B4B4;
                background: #F6F6F6;

                &.invalid {
                  border: 2px solid #DEC18C;
                }
              }
            }
          }
        }
        .social {
          margin-top: 28px;
          a {
            svg {
              fill: #BDBDBD;
              height: 20px;
              width: 20px;
            }

            &:hover {
              svg {
                fill: #DEC18C !important;
              }
            }
          }
          a + a {
            margin-left: 36px;
          }
        }
      }
    }
  }
}


@keyframes fade {
  0% {
    opacity: 1
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


@include media($laptop-and-down) {
  body {
    header {
      .header-content {
        .header-content__contact {
          font-size: 12px;
        }
        .header-content__sale {
          p {
            font-size: 12px;
          }
          span {
            font-size: 12px;
          }
        }
        .header-content__language-currency {
          select {
            font-size: 12px;
            margin-left: 30px;
          }
        }
      }
    }
    .content-body {
      .header {
        .logo {
          img {
            width: 150px;
          }
        }
        .nav {
          a {
            font-size: 14px;
          }
          a + a {
            margin-left: 20px;
          }
        }
      }
      .slider {
        .slider-item {
          img {
            width: 550px;
          }
          .slider-item__content {
            margin: 0 50px 0 100px;
            padding: 0;
          }
        }
      }
      .product {
        .product-header {
          .h1 {
            font-size: 34px;
            margin: 90px 0 0 0;
          }
        }
        nav {
          margin-top: 30px;
          a {
            font-size: 14px;
          }
          a + a {
            margin-left: 20px;
          }

        }
      }
      .product-card {
        grid-template-columns: auto auto;
      }
      .banner-sale {
        margin-top: 90px;
        .banner-sale__text {
          margin: 20px 0 0 300px;
          .h2 {
            font-size: 26px;
            margin: 24px 0 0 0;
          }
          a {
            margin: 46px 0 46px 0;
          }

        }
        .banner-sale__img {
          left: -1%;
          width: 160px;
        }
        .banner-sale__img-two {
          img {
            width: 300px;
          }
        }
        .banner-sale__coll {
          width: 200px;
          height: 200px;
        }
      }
      .slider-blog {
        .slider-blog__buttons-next {
          right: 8%;
        }
        .slider-blog__buttons__prev {
          left: 8%;
        }
      }
      .brand {
        a {
          img {
            width: 100px;
          }
        }
      }
    }
    footer {
      .footer-content {
        .logo-address {
          img {
            width: 150px;
          }
          .address {
            margin-top: 26px;
            p {
              margin: 0 0 0 4px;
              font-size: 12px;
            }
          }
          .email {
            p {
              margin: 0 0 0 4px;
              font-size: 12px;
            }
          }
          .phone {
            p {
              margin: 0 0 0 4px;
              font-size: 12px;
            }
          }
        }
        nav {
          .h1 {
            margin-bottom: 22px;
            font-size: 14px;
          }
          a {
            font-size: 12px;
          }
          a + a {
            margin-top: 12px;
          }
          .footer-form {
            form {
              div {
                .email {
                  width: 240px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@include media($tablet-and-down) {
  body {
    header {
      .header-content__sale-mob {
        padding: 10px 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-family: 'Poppins Regular', sans-serif;
          font-size: 14px;
          color: #707070;
          margin: 0;
        }

        span {
          font-family: 'Poppins Regular', sans-serif;
          font-size: 14px;
          color: #D42E35;
        }
      }
      .header-content {
        padding: 0 20px;
        .header-content__sale {
          display: none;
        }
        .header-content__contact {
          .header-content__contact-phone, .header-content__contact-email {
            p {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .content-body {
      padding: 0 20px;
      .logo-mob {
        display: block;
        margin-top: 20px;
        img {
          width: 150px;
        }
      }
      .header {
        margin: 18px 0 30px 0;
        .logo {
          display: none;
        }
      }
      .slider {
        .slider-item {
          img {
            width: 300px;
          }
          .slider-item__content {
            .h1 {
              font-size: 16px;
            }
            .h2 {
              font-size: 30px;
              padding: 12px;
              margin: 22px 0 0 0;
            }
            .h3 {
              margin: 14px 0 0 0;
              text-align: center;
              font-size: 14px;
            }
            a {
              font-size: 14px;
              margin-top: 20px;
            }
          }
        }
      }
      .banner {
        .banner-card {
          img {
            width: 200px;
          }
          .banner-two__img {
           img {
             height: 266px;
           }
          }
          .banner-one__text, .banner-two__text {
            .h1 {
              font-size: 30px;
            }
            .h2 {
              font-size: 14px;
              margin: 12px 0 30px 0;
            }
          }
        }
      }
      .product {
        .product-header {
         .h1 {
           margin: 40px 0 0 0;
         }
        }
      }
      .product-card {
        padding-top: 40px;
        .product-card__item {
          align-items: center;
          img {
            width: 300px;
          }
        }
      }

      .banner-sale {
        margin-top: 40px;
        .banner-sale__img {
          width: 126px;
        }
        .banner-sale__coll {
          width: 150px;
          height: 150px;
        }
        .banner-sale__text {
          margin: 22px 0 0 259px;
          .h2 {
            font-size: 16px;
            margin: 24px 0 0 0;
          }
          a {
            margin: 26px 0;
          }
        }
        .banner-sale__img-two {
          img {
            width: 230px;
          }
        }
      }
      .brand {
        margin-top: 50px;
        a {
          img {
            width: 80px;
          }
        }
      }
      .blog-header {
        margin-top: 48px;
        .h1 {
          font-size: 26px;
        }
        p {
          font-size: 14px;
        }
      }
      .slider-blog {
        padding-top: 40px;
        .slider-blog__buttons-next {
          right: 13%;
          width: 30px;
          height: 30px;
        }
        .slider-blog__buttons__prev {
          left: 13%;
          width: 30px;
          height: 30px;
        }
        .slider-blog__item {
          .h1 {
            margin: 26px 0 12px;
          }
        }
      }
    }
    .banner-inst {
      margin-top: 90px;
    }
    footer {
      .footer-content {
        flex-wrap: wrap;
        margin: 54px 0;
        .logo-address {
          .address {
            margin-top: 26px;
          }
        }
        .nav-form {
          order: 1;
          flex-direction: row;
          align-content: center;
          align-items: center;
          margin-top: 30px;
          .h1 {
            display: none;
          }
          .social {
            margin: 0 0 0 100px;
          }
        }
      }
    }

  }
}
@include media($mobile-l-and-down) {
  body {
    header {
      .header-content__sale-mob {
        padding: 10px 10px 0;
        p, span {
          font-size: 12px;
        }
      }
      .header-content {
        padding: 10px;
        .header-content__contact {
          flex-direction: column;
          .header-content__contact-email {
            margin: 0;
          }
          .header-content__contact-email, .header-content__contact-phone {
            p {
              margin: 0  0 0 8px ;
            }
          }
        }
        .header-content__language-currency{
          select {
            margin-left: 10px;
          }
        }
      }
    }
    .content-body {
      padding: 0 10px;
      .header {
        flex-wrap: wrap;
        .nav {
           a {
             font-size: 12px;
           }
          a + a {
            margin-left: 10px;
          }
        }
        .personal-area {
          order: 1;
          margin-top: 10px;
        }
      }
      .slider {
        .slider-button {
          .slider-button__prev, .slider-button__next {
            span {
              font-size: 18px;
            }
          }
        }
        .slider-item {
          img {
            width: 180px;
          }
          .slider-item__content {
            .h1 {
              font-size: 12px;
              text-align: center;
            }
            .h2{
              font-size: 14px;
              padding: 9px;
              margin: 8px 0 0 0;
            }
            .h3 {
              letter-spacing: 4px;
              margin: 10px 0 0 0;
              font-size: 10px;
            }
            a {
              font-size: 10px;
              margin: 16px 0;
            }
            .slider-item__social {
              a {
                font-size: 8px;
              }
              a + a {
                margin-left: 8px;
              }
              .slider-item__social-twitter {
                padding: 0 8px;
              }
            }
          }
        }
      }
      .banner {
        .banner-card {
          .banner-one__text, .banner-two__text {
            .h1 {
              font-size: 20px;
            }
            .h2 {
              font-size: 12px;
              margin: 12px 0 12px 0;
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
      .product {
        .product-header {
          .h1 {
            margin: 20px 0 0 0;
            font-size: 24px;
          }
          p {
            font-size: 14px;
          }
        }
        nav {
          margin-top: 20px;
        }
      }
      .product-card {
        grid-template-columns: auto;
        padding-top: 30px;
      }
      .banner-sale {
        margin-top: 20px;
        .banner-sale__img {
          width: 72px;
          left: -2%;
        }
        .banner-sale__coll {
          width: 50px;
          height: 50px;
        }
        .banner-sale__text {
          margin: 22px 0 0 110px;
          .h1 {
            font-size: 14px;
            padding: 10px;
          }
          .h2 {
            font-size: 12px;
            margin: 11px 0 0 0;
          }
          a {
            margin: 13px 0;
            font-size: 12px;
          }
        }
        .banner-sale__img-two {
          img {
            width: 130px;
          }
        }
      }
      .brand {
        margin-top: 30px;
        a {
          img {
            width: 50px;
          }
        }
      }
      .slider-blog {
        .slider-blog__buttons-next, .slider-blog__buttons__prev {
          width: 30px;
          height: 30px;
          span {
            padding: 0;
          }
        }
        .slider-blog__buttons-next {
          right: 4%;
        }
        .slider-blog__buttons__prev {
          left: 4%;
        }
        .slider-blog__item {
          .h1 {
            margin: 18px 0 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .blog-header {
        .h1 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
      }
    .banner-inst {
      .inst {
        padding: 20px;
        p {
          font-size: 14px;
        }
        a {
          font-size: 28px;
        }
      }
    }
    footer {
      padding: 0 10px;
      .footer-content {
        margin: 20px 0;
        .nav-mob {
          margin-top: 20px;
        }
        .nav-form {
          flex-wrap: wrap;
         .social {
           margin: 10px 0 0 0;
         }
        }
        .logo-address {
          order: 1;
          margin: 0 auto;
          padding-top: 30px;
        }
        .nav-form {
          justify-content: center;
        }
      }
    }
    }
  }
